.Rproj.user
.Rhistory
.Ruserdata

*.Rproj

# data files
*.RData
*.txt
*.zip
*.pdf
*.docx
*.pptx

# files and folders
data/Ecoregions2017/
data/Ecoregions2017_reclassification.csv
data/01_data-spatialise.RData # large file





